<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Register
		</title>
		<link
		rel="shortcut icon" href="#">
		<!--Import Google Icon Font-->
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="{{ asset('css/login/materialize.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	</head>
	
	<body class="d-flex" style="background-image: url({{ asset('img/app/azul.jpg') }});">
		<div class="container">
			<section id="content">
				<h1>
					Track Master
				</h1>
				<h1>
					Register
				</h1>
				<div class="logo">
					<img src="{{ asset('img/app/Logo1.jpeg') }}" alt="Track Logo">
				</div>

				<div id="form" style="margin-bottom: 20px;">
					{{ form_errors(registrationForm) }}
					<form method="post" action="{{ path('app_register') }}">
						{{ form_start(registrationForm) }}
						<div class="input-field col s12 m12">
							<i class="material-icons prefix">
								account_circle
							</i>
							<label for="{{ registrationForm.name.vars.id }}">
								Name
							</label>
							{{ form_widget(registrationForm.name, {
                            'attr': {
                                'required': true,
                                'autofocus': true,
                            }
                        }) }}
							{{ form_errors(registrationForm.name) }}
						</div>
						<div class="input-field col s12 m12">
							<i class="material-icons prefix">
								email
							</i>
							<label for="{{ registrationForm.email.vars.id }}">
								Email
							</label>
							{{ form_widget(registrationForm.email, {
                            'attr': {
                                'required': true
                            }
                        }) }}
							{{ form_errors(registrationForm.email) }}
						</div>
						<div class="input-field col s12 m12">
							<i class="material-icons prefix">
								lock
							</i>
							<label for="{{ registrationForm.plainPassword.vars.id }}">
								Password
							</label>

							{{ form_widget(registrationForm.plainPassword, {
                            'attr': {
                                'autocomplete': 'new-password',
                                'required': true
                            }
                        }) }}
							{{ form_errors(registrationForm.plainPassword) }}
						</div>
						<div class="input-field col s12 m12">
							<i class="material-icons prefix">
								phone
							</i>
							<label for="{{ registrationForm.phoneNumber.vars.id }}">
								Phone Number
							</label>

							{{ form_widget(registrationForm.phoneNumber, {
                            'attr': {
                                'required': true
                            }
                        }) }}
							{{ form_errors(registrationForm.phoneNumber) }}
						</div>

						<div class="form-group">
							<button type="submit">
								Register
							</button>
						</div>
						<div class="form-check mb-3">
							<label class="form-check-label">
								{{ form_widget(registrationForm.isAdmin) }}
								Register Admin
							</label>
						</div>
                        
						{{ form_end(registrationForm) }}
						<div class="form">
							<a href="{{ path('app_login') }}">
								Already have an account? Log in
							</a>
						</div>
					</form>
				</div>
			</section>
		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{{ asset('js/login/materialize.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
