<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<link rel="shortcut icon" href="#">
		<!--Import Google Icon Font-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="{{ asset('css/login/materialize.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
	</head>
  <style>
        
            /* Estilos para campos de entrada no válidos */
            input.invalid {
                border-bottom: 1px solid red !important;
                box-shadow: 0 1px 0 0 red !important;
            }

            label.invalid {
                color: red !important;
            }
  </style>
	<body class="d-flex" style="background-image: url({{ asset('img/app/azul.jpg') }});">
  <div class="container">
    <section id="content">
      <h1>Track Master - Register</h1>
      <div class="logo">
        <img src="{{ asset('img/app/Logo1.jpeg') }}" alt="Track Logo">
      </div>
      {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
          {{ app.session.flashBag.get('success')[0] }}
        </div>
      {% endif %}
      {% if error is defined %}
        <script>
            // Función para mostrar una alerta con el mensaje de error
            const showErrorAlert = (errorMessage) => {
                alert(errorMessage); // O usa algún tipo de popup personalizado
            };
            
            // Mostrar el mensaje de error en una alerta
            showErrorAlert('{{ error }}');
        </script>
    {% endif %}

      <div id="form" style="margin-bottom: 20px;">
  {{ form_errors(registrationForm) }}
  <form method="post" action="{{ path('app_register') }}">
    {{ form_start(registrationForm) }}

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <label for="{{ registrationForm.name.vars.id }}">Name</label>
        {{ form_widget(registrationForm.name, {
          'attr': {
            'required': true,
            'autofocus': true,
            'class': 'white-text validate'
          }
        }) }}
        {{ form_errors(registrationForm.name) }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        <label for="{{ registrationForm.email.vars.id }}">Email</label>
        {{ form_widget(registrationForm.email, {
          'attr': {
            'required': true,
            'class': 'white-text validate' 
          }
        }) }}
        {{ form_errors(registrationForm.email) }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">lock</i>
        <label for="{{ registrationForm.plainPassword.vars.id }}">Password</label>
        {{ form_widget(registrationForm.plainPassword, {
          'attr': {
            'autocomplete': 'new-password',
            'required': true,
            'class': 'white-text validate'
          }
        }) }}
        {{ form_errors(registrationForm.plainPassword) }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">phone</i>
        <label for="{{ registrationForm.phoneNumber.vars.id }}">Phone Number</label>
        {{ form_widget(registrationForm.phoneNumber, {
          'attr': {
            'required': true,
            'class': 'white-text validate'
          }
        }) }}
        {{ form_errors(registrationForm.phoneNumber) }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">business</i>
        <label for="{{ registrationForm.areaOfResponsibility.vars.id }}">Area of Responsibility</label>
        {{ form_widget(registrationForm.areaOfResponsibility, {
          'attr': {
            'required': false,
            'class': 'white-text'
          }
        }) }}
        {{ form_errors(registrationForm.areaOfResponsibility) }}
      </div>

      <div class="form-group">
        <button type="submit">Register</button>
      </div>
      
<div class="field">
  <p>
    <label>
      {{ form_widget(registrationForm.isAdmin, {'attr': {'class': 'filled-in', 'checked': 'checked'}}) }}
      <span>Register Admin</span>
    </label>
  </p>
</div>

    {{ form_end(registrationForm) }}
    <div class="form">
      <a href="{{ path('app_login') }}">Already have an account? Log in</a>
    </div>
  </form>
</div>
    </section>
  </div>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{{ asset('js/login/materialize.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
                const formInputs = document.querySelectorAll('input.validate');
                formInputs.forEach(input => {
                    input.addEventListener('invalid', () => {
                        input.classList.add('invalid');
                        const label = input.nextElementSibling;
                        if (label && label.nodeName === 'LABEL') {
                            label.classList.add('invalid');
                        }
                    });

                    input.addEventListener('input', () => {
                        input.classList.remove('invalid');
                        const label = input.nextElementSibling;
                        if (label && label.nodeName === 'LABEL') {
                            label.classList.remove('invalid');
                        }
                    });
                });
            });
        </script>
	</body>
</html>
