{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <body class="d-flex" style="background-image: url({{asset('img/app/azul.jpg')}});">
        <div class="container">
            <section id="content">
                <h1 class="center-align">Track Master</h1>
                <h1 class="center-align">Register</h1>
                <div class="logo">
                    <img class="responsive-img" src="{{asset('img/app/Logo1.jpeg')}}" alt="">
                </div>
                {{ form_errors(registrationForm) }}
                <form method="post" action="{{ path('app_register') }}">
                    {{ form_start(registrationForm) }}
                    <div class="input-group login-userinput">
                        <div class="input-field col s12 m12">
                            {{ form_row(registrationForm.name, {
                                label: 'Name',
                                attr: {
                                    class: 'form-control',
                                    autocomplete: 'name',
                                    required: true,
                                    autofocus: true
                                }
                            }) }}
                        </div>
                        <div class="input-field col s12 m12">
                            {{ form_row(registrationForm.email, {
                                label: 'Email',
                                attr: {
                                    class: 'form-control',
                                    autocomplete: 'email',
                                    required: true
                                }
                            }) }}
                        </div>
                        <div class="input-field col s12 m12">
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password',
                                attr: {
                                    class: 'form-control',
                                    autocomplete: 'new-password',
                                    required: true
                                }
                            }) }}
                        </div>
                        <div class="input-field col s12 m12">
                            {{ form_row(registrationForm.agreeTerms, {
                                label: 'I agree to the terms and conditions',
                                attr: {
                                    class: 'form-check-input',
                                    required: true
                                }
                            }) }}
                        </div>
                        <div>
                            <button class="btn btn-lg btn-primary" type="submit">Register</button>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </form>
            </section>
        </div>
    </body>
{% endblock %}
